@model List<MovieDirectorMVC.Models.Movie>


<h2>All Movies</h2>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Release Year</th>
            <th>Movie Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>@movie.ReleaseYear</td>
                <td>@movie.MovieType</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="/Movie/Edit/@movie.Id">Edit</a>

                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@movie.Id" />
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this movie?');">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
